/****************************************
MEDIA SCREENS FOR MEDUIM SIZE DEVICES
****************************************/

@media screen and (max-width: 900px) and (min-width: 500px) {
	
	/****************************************
	HEADER
	****************************************/

	#top-nav a {
		font-size: 1.9vw;
	}

	img[src="img/logo.png"] {
		width: 18%;
		position: absolute;
		top: 1.6%;
		left: 8%;
	}

	#top-info h2 {
		font-size: 4.7vw;
		padding-bottom: 6%; 
		color: #fff;
	}

	#top-info p {
		font-size: 1.9vw;
		padding-bottom: 2%;
		color: #fff;
	}

	#top-info a {
		color: #fff;
		font-size: 2.4vw;
		margin-top: 7%;
	}

	.model-pic {
		width: 30%;
		margin: 3% 9% 0% 0%;
	}

	#bottom-nav h3 {
		font-size: 2.9vw;
		margin-top: 1.3%;
	}

	#bottom-nav li {
		display: inline;
		font-size: 1.6vw;
	}

	#bottom-nav li:nth-child(even) {
		margin: 0% 1.3%;
		font-size: 3vw;
	}
	
	/****************************************
	SECOND SECTION
	****************************************/
	#second-section h2 {
		margin: 6% 0% 10% 0%;
		font-size: 4.9vw;
	}
	
	#second-section-container div {
		width: 39%;
	}
	
	#second-section-container div:nth-child(-n+3) {
		margin-bottom: 10%;
	}
	
	#second-section-container > img {
		width: 9.5%;
		margin-bottom: 10.9%;
	}
	
	#second-section-container > img:nth-child(4) {
		display: none;
	}
	
	#second-section-container p {
		line-height: 160%;
		font-size: 2.8vw;
	}

	/****************************************
	THIRD SECTION
	****************************************/
	#third-section h2 {
		font-size: 3.9vw;
	}

	#third-section p {
		font-size: 2.3vw;
	}


	#third-section button {
		font-size: 3.5vw;
	}

	/****************************************
	FOURTH SECTION
	****************************************/
	
	#fourth-section h2 {
		font-size: 4.5vw;
	}
	
	#fourth-section img {
		width: 20%;
		margin: 2% 9% 7% 2%;
	}

	/****************************************
	FOTTER
	****************************************/

	footer a {
		font-size: 2.0vw;
	}
}

/****************************************
MEDIA SCREENS FOR SMALL SCREEN DEVICE
****************************************/
@media screen and (max-width: 499px) {
	
	
	/****************************************
	HEADER
	****************************************/
	#top-section {
		background-image: url("../img/blur-mobile.jpg");
	}

	#top-nav {
		background-color: rgba(218,222,223, 0.7);
	}

	#top-nav a {
		color: #000;
		font-size: 2.8vw;
	}

	img[src="img/logo.png"] {
		width: 15%;
		position: absolute;
		top: 3.7%;
		left: 2%;
	}

	#top-info {
		float: left;
		text-align: center;
		margin: 5% 2% 0% 21%;
	}

	#top-info h2 {
		font-size: 6.5vw;
		padding-bottom: 6%; 
	}

	#top-info p {
		font-size: 3.6vw;
		padding-bottom: 2%;
		color: #0E0E0E;
	}

	#top-info a {
		font-size: 2.8vw;
		`margin-top: 9%;
		margin-bottom: 35%;
	}

	.model-pic {
		display: none;
	}


	#bottom-nav h3 {
		font-size: 3.6vw;
		margin-bottom: 2%;
	}

	#bottom-nav li {
		font-size: 2.3vw;
	}
	
	/****************************************
	SECOND SECTION
	****************************************/

	#second-section h2 {
		margin-bottom: 12%;
		font-size: 8.4vw;
	}


	#second-section-container div {
		width: 79%;
	}

	#second-section-container div img {
		margin-bottom: 2%;
	}

	#middle-pic1 {
		width: 30%;
		margin-left: 36%;
	}

	#middle-pic2 {
		width: 23%;
		margin-left: 37%;
	}

	#middle-pic3 {
		width: 35%;
		margin-left: 30%;
	}

	#middle-pic4 {
		width: 40%;
		margin-left: 32%;
	}

	#second-section-container > img {
		-ms-transform: rotate(90deg); /* IE 9 */
	  	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	  	transform: rotate(90deg);
		display: block;
		width: 14.5%;
		margin-bottom: 5.9%;
		margin-left: 30%
	}

	#second-section-container p {
		font-size: 5.4vw;
	}

	/****************************************
	THIRD SECTION
	****************************************/
	
	#third-section h2 {
		font-size: 4.9vw;
	}

	#third-section p {
		font-size: 3.3vw;
	}

	#third-section button {
		font-size: 3.5vw;
	}

	#fourth-section h2 {
		font-size: 5.4vw;
	}

	#fourth-section li {
		display: block;
	}

	#fourth-section img {
		width: 25%;
	}
	
	/****************************************
	FOTTER
	****************************************/

	footer a {
		font-size: 2.3vw;
	}
}

@media screen and (max-width: 499px) {
	
	/****************************************
	HEADER
	****************************************/
	#top-section {
		background-image: url("../img/blur-mobile.JPG");
	}

	#top-nav {
		background-color: rgba(218,222,223, 0.7);
	}

	#top-nav a {
		color: #000;
		font-size: 2.8vw;
	}

	img[src="img/logo.png"] {
		width: 15%;
		position: absolute;
		top: 3.7%;
		left: 2%;
	}

	#top-info {
		float: left;
		text-align: center;
		margin: 5% 2% 0% 21%;
	}

	#top-info h2 {
		font-size: 6.5vw;
		padding-bottom: 6%; 
	}

	#top-info p {
		font-size: 3.6vw;
		padding-bottom: 2%;
		color: #0E0E0E;
	}

	#top-info a {
		font-size: 2.8vw;
		margin-top: 9%;
		margin-bottom: 35%;
	}

	.model-pic {
		display: none;
	}


	#bottom-nav h3 {
		font-size: 3.6vw;
		margin-bottom: 2%;
	}

	#bottom-nav li {
		font-size: 2.3vw;
	}
	
	/****************************************
	SECOND SECTION
	****************************************/
	
	#second-section h2 {
		margin-bottom: 12%;
		font-size: 8.4vw;
	}


	#second-section-container div {
		width: 79%;
	}

	#second-section-container div img {
		margin-bottom: 2%;
	}

	#middle-pic1 {
		width: 30%;
		margin-left: 36%;
	}

	#middle-pic2 {
		width: 23%;
		margin-left: 37%;
	}

	#middle-pic3 {
		width: 35%;
		margin-left: 30%;
	}

	#middle-pic4 {
		width: 40%;
		margin-left: 32%;
	}

	#second-section-container > img {
		-ms-transform: rotate(90deg); /* IE 9 */
	  	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	  	transform: rotate(90deg);
		display: block;
		width: 14.5%;
		margin-bottom: 5.9%;
		margin-left: 30%
	}

	#second-section-container p {
		font-size: 5.4vw;
	}

	#third-section h2 {
		font-size: 4.9vw;
	}

	#third-section p {
		font-size: 3.3vw;
	}

	#third-section button {
		font-size: 3.5vw;
	}

	#fourth-section h2 {
		font-size: 5.4vw;
	}

	#fourth-section li {
		display: block;
	}

	#fourth-section img {
		width: 25%;
	}
	
	/****************************************
	FOTTER
	****************************************/

	footer a {
		font-size: 2.3vw;
	}
}